<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="2" parallel="methods" name="Suite">
  <test thread-count="2" parallel="methods" name="Test">
    <classes>
      <class name="com.crm.qa.testcases.LogActivity"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
